---
redis_url: "{{ hotline_listing_redis_url }}"
database_url: "{{ hotline_listing_database_url }}"
cache_ttl: {{ hotline_listing_cache_ttl }}
city_id: {{ hotline_listing_city_id }}
products: []
price_check_interval: {{ hotline_listing_price_check_interval }}
smtp_host: "{{ hotline_listing_smtp_host }}"
smtp_port: {{ hotline_listing_smtp_port }}
smtp_username: "{{ hotline_listing_smtp_username }}"
smtp_password: "{{ hotline_listing_smtp_password }}"
smtp_from: "{{ hotline_listing_smtp_from }}"
